*.pem
**/__pycache__/
*.pyc
.venv/
.vscode/
.idea/
.DS_Store
**.code-workspace
outputs/
hardware/franka_control/build/
hardware/franka_control/*.so
hardware/franka_control/franka_control.egg-info/
.cache/
.ipynb_checkpoints/
*.rrd